<!-- list component -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Last Update</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.title }}</td>
            <td>{{ project.description }}</td>
            <td *ngIf="getMainStepIndex(project.status) == 0"><span class="badge rounded-pill bg-primary">Project</span></td>
            <td *ngIf="getMainStepIndex(project.status) == 1"><span class="badge rounded-pill bg-secondary">DPA</span></td>
            <td *ngIf="getMainStepIndex(project.status) == 2"><span class="badge rounded-pill bg-dark">Metadata</span></td>
            <td *ngIf="getMainStepIndex(project.status) == 3"><span class="badge rounded-pill bg-light">Data</span></td>
            <td *ngIf="getMainStepIndex(project.status) == 4"><span class="badge rounded-pill bg-info">Online</span></td>
            <td>{{project.last_update}}</td>
            <td>
                <a routerLink="/projects/{{project.id}}" class="btn btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                </a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


    


