<label for="type">Type:</label>
<select id="type" [(ngModel)]="type" (change)="resetForm()">
  <option *ngFor="let option of type_options" [value]="option">{{ option }}</option>
</select>

<form [formGroup]="catalogForm" *ngIf="type === 'catalog'" (ngSubmit)="saveForm('catalog')">
  <label for="title">Title:*</label>
  <input id="title" formControlName="title" required>
  
  <label for="version">Version:*</label>
  <input id="version" formControlName="version" required>
  
  <label for="publisher">Publisher Name:*</label>
  <input id="publisher" formControlName="publisher" required>
  
  <label for="homePage">Home Page:</label>
  <input id="homePage" formControlName="homePage">
  
  <label for="rights">Rights:</label>
  <input id="rights" formControlName="rights">
  
  <label for="license">License:</label>
  <input id="license" formControlName="license">
  
  <label for="language">Language:</label>
  <input id="language" formControlName="language">
  
  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>
  
  <button type="submit">Save Catalog</button>
</form>

<form [formGroup]="datasetForm" *ngIf="type === 'dataset'" (ngSubmit)="saveForm('dataset')">
  <label for="isPartOf">Associated Catalog:</label>
  <select id="isPartOf" formControlName="isPartOf" required>
    <option *ngFor="let catalog of savedCatalogs" [value]="catalog.id">{{ catalog.title }}</option>
  </select>

  <label for="title">Title:</label>
  <input id="title" formControlName="title" required>
  
  <label for="version">Version:</label>
  <input id="version" formControlName="version" required>
  
  <label for="publisher">Publisher Name:</label>
  <input id="publisher" formControlName="publisher" required>
  
  <label for="theme">Theme:</label>
  <input id="theme" formControlName="theme" required>
  
  <label for="modified">Modified Date:</label>
  <input id="modified" formControlName="modified">
  
  <label for="issued">Issued Date:</label>
  <input id="issued" formControlName="issued">
  
  <label for="license">License:</label>
  <input id="license" formControlName="license">
  
  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>
  
  <button type="submit">Save Dataset</button>
</form>

<form [formGroup]="distributionForm" *ngIf="type === 'distribution'" (ngSubmit)="saveForm('distribution')">
  <label for="isPartOf">Associated Dataset:</label>
  <select id="isPartOf" formControlName="isPartOf" required>
    <option *ngFor="let dataset of savedDatasets" [value]="dataset.id">{{ dataset.title }}</option>
  </select>

  <label for="title">Title:</label>
  <input id="title" formControlName="title" required>
  
  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>
  
  <label for="license">License:</label>
  <input id="license" formControlName="license">
  
  <label for="mediaType">Media Type:</label>
  <input id="mediaType" formControlName="mediaType" required>
  
  <label for="version">Version:</label>
  <input id="version" formControlName="version" required>
  
  <label for="format">Format:</label>
  <input id="format" formControlName="format">
  
  <label for="publisher">Publisher Name:</label>
  <input id="publisher" formControlName="publisher" required>
  
  <button type="submit">Save Distribution</button>
</form>
